<!DOCTYPE html>
<html>
<head>
  <title>ExceptionNotifier</title>
  <%= stylesheet_link_tag    "exception_notifier/application", :media => "all" %>
  <%= javascript_include_tag "exception_notifier/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
